<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<script>
    function listaClientes() {
        var url = '/api/v1/clientes/init';

        if ($('#txtDocumento').val() != '') {
            url = url + '/' + $('#txtDocumento').val();
        }else{
            url = url + '/todos';
        }

        $("#bloqueResultado").load(url);
    }

</script>

<form>
    <span class="subtitle">Busqueda de Clientes</span>
    <div class="listBlock">
        <div class="search-block">
            <label for="txtDocumento">Documento:</label>
            <input type="text" id="txtDocumento" name="txtDocumento"/>
            <br />
            <button id="btnBuscar" name="btnBuscar" onclick="listaClientes()" type="button"
                    >Buscar</button>
        </div>

        <!-- Results block -->
        <div id="bloqueResultado">

        </div>
    </div>
</form>
<p>
    <!-- <span th:text="List of cliente"></span> -->
</p>

<style>
table.TablaGenerada {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  color: #000000;
}

table.TablaGenerada td, table.TablaGenerada th {
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  padding: 3px;
}

table.TablaGenerada thead {
  background-color: #ffcc00;
}
</style>

<!-- <div th:if="${ not#lists.isEmpty(listaClientes)}"> -->
    <div th:fragment="resultsList" th:unless="${#lists.isEmpty(listaClientes)}" id="results-block">
            <table id="tablaCliente" class="TablaGenerada">
                <thead>
                <tr>
                    <th>Documento</th>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>fechaNacimiento</th>
                    <th>telefono</th>
                    <th>correo</th>
                    <th>direccion</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente : ${listaClientes}">
                        <td th:text="${cliente.documento}"></td>
                        <td th:text="${cliente.nombre}"></td>
                        <td th:text="${cliente.edad}"></td>
                        <td th:text="${cliente.fechaNacimiento}"></td>
                        <td th:text="${cliente.telefono}"></td>
                        <td th:text="${cliente.correo}"></td>
                        <td th:text="${cliente.direccion}"></td>
                    </tr>
                </tbody>
            </table>
</div>
</body>
</html>